{$DOMAIN} {
    encode gzip

    handle /api/* {
      reverse_proxy backend:8000
    }

    handle {
      reverse_proxy frontend:80
    }
  }

  www.{$DOMAIN} {
    redir https://{$DOMAIN}{uri} permanent
  }
